@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center/cover fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;    
}

iframe#screen {
    position: relative;
    top: 79px;
    left: 21px;
    width: 268px;
    height: 473px;
}

section#social-media {
    text-align: right;
}

section#social-media img {
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    box-sizing: border-box;
    transition: transform .25s, border .15s;
}

section#social-media img:hover {
    transform: translate(-5px, 0px);
    border: 2px solid rgba(255, 255, 255, 0.521);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.4);
    
}